@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navbar */

.logo {
  width: 130px;
}

nav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  padding: 20px 0;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 0.9em;
}

nav ul li a:hover {
  color: #38cca2;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  flex-direction: column;
  height: 18px;
  justify-content: space-between;
}

.hamburger-menu span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
}

/* Responsive Breakpoint */

/* Laptop */
@media screen and (max-width: 1024px) {
  nav ul {
    width: 40%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  .hamburger-menu {
    display: flex;
  }
  nav ul {
    display: none;
  }
  .intro {
    flex-direction: column;
  }
  .planting-illustration {
    margin-top: 50px;
    
  }
}

/* Main */

/* Intro Section */

.intro {
  margin: 50px 100px 100px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intro-words {
  display: flex;
  margin-right: 150px;
  flex-direction: column;
}

.greeting {
  font-size: 3em;
  color: #68AD7C;
  margin-bottom: 10px;
}

.intro-desc {
  font-size: 1em;
}

.planting-illustration {
  display: flex;
  width: 40%;
}

/* Activity Section */

.activity-container {
  background-color: #38cca2;
  color: white;
  text-align: center;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.activity-photo {
  width: 200px;
}
