@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navbar */

.logo {
  width: 130px;
}

nav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  padding: 20px 0;
  align-items: center;
  position: sticky;
  top: 0;

}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 0.9em;
}

nav ul li a:hover {
  color: #38cca2;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  flex-direction: column;
  height: 18px;
  justify-content: space-between;
}

.hamburger-menu span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
}

/* Responsive Breakpoint */

/* Tablet */
@media screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-around;
  }
  nav ul {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
  .planting-illustration {
    width: 60%;
  }
  .intro {
    padding-top: 50px;
  }
  }
  .activity-container{
    margin-top: 160px;
  }

/* Mobile */
@media screen and (max-width: 576px) {
  .hamburger-menu {
    display: flex;
  }
  nav ul {
    display: none;
  }
  .intro {
    flex-direction: column;
    padding-top: 10px;
  }
  .planting-illustration {
    padding-top: 50px;
  }
}

/* Main */

/* Intro Section */

.intro {
  margin: 50px 100px 100px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 45px;
}

.intro-words {
  display: flex;
  margin-right: 150px;
  flex-direction: column;
}

.greeting {
  font-size: 2em;
  color: #68AD7C;
}

.intro-desc {
  font-size: 1em;
}

.planting-illustration {
  width: 60%;
}

/* Activity Section */

.activity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 30px;
  padding-bottom: 50px;
}

.activity {
  font-size: 2em;
  background-color: #38cca2;
  color: white;
  min-height: 250px;
  padding-top: 20px;
  text-align: center;
}

.activity-photo {
  width: 20%;
  border-radius: 10%;
}

.video {
  padding-top: 70px;
}

.head {
  text-align: center;
}

.video-head {
  background-color: #38cca2;
  padding: 0 30px 0 30px;
  border-style: none;
  border-radius: 2rem;
  color: white;
  font-size: 2em;
  text-align: center;
  display: inline-block;
  margin-bottom: 25px;
}

.yt-vid {
  display: flex;
  width: 100%;
  justify-content: center;
}
.form-main{
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;

}

.form-capt {
  margin-top: 100px;
  margin-bottom: 30px;
  color: #38cca2;
}

.form {
  width: 300px;
  background-color: #38cca2;
  border-style: none;
  border-radius: 1rem;
  padding: 25px 30px;
}

.border-form {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: inline-block;
}

.input-box {
  color: white;
  
}

.input-box input {
  height: 45px;
  width: 100%;
  border-style: none;
  border-radius: 1rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.details {
  margin-left: 10px;
}

.news {
  margin-left: 10px;
  margin-top: 10px;
}

button {
  margin-left: 10px;
  margin-top: 10px;
  border: none;
  border-style: none;
  color: #68AD7C;
  padding: 7px 30px;
  background-color: white;
  border-radius: 3rem;
  display: inline-block;
  font-size: 1em; 
}

footer {
  display: flex;
  margin-top: 100px;
  font-size: 0.8em;
  color: white;
  background-color: #38cca2;
  height: 50px;
  justify-content: center;
  align-items: center;
}